---
import BaseLayout from '../layouts/BaseLayout.astro';

// import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Contact | Nicolas Vyplasil" description="Contacter Nicolas Vyplasil">
	<div class="stack gap-20">
		<main class="wrapper about">
			<!-- <Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			> -->
			<Hero
				title="Pour me contacter"
				
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/article-kais-grand.jpg"
					alt="Nicolas Vyplasil"
				/> -->

				<section id="Contact">
					<!-- <div class="content">
						<div class="contact">
							<h3>CONTACT</h3>
							<p class="contactdescription">Un projet ? N'hésitez pas à m'en faire part en le décrivant en quelques lignes, je me ferais un plaisir de vous accompagner !</p>
							<form method="post">
								<input type="text" name="nom"			placeholder="Nom*"		required class="inputname">
								<input type="text" name="email"			placeholder="Email*"	required class="inputmail">
								<textarea 		   name="message"		placeholder="Message*"	required class="inputmsg"></textarea>
								<input type="submit" class="Rectangle-4closed sendmessageclosed" value="Envoyer le message">
							</form>
						</div>
					</div> -->
					<!-- <form action="mailto:nico.vyp@hotmail.fr" method="post" enctype="text/plain">
						<label for="name">Nom :</label>
						<input type="text" id="name" name="name"><br><br>
						<label for="email">E-mail :</label>
						<input type="text" id="email" name="email"><br><br>
						<label for="message">Message :</label><br>
						<textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
						<input type="submit" value="Envoyer">
					</form> -->
					<form name="contact" method="POST" data-netlify="true">
						<label for="name">Nom :</label>
						<input type="text" id="name" name="name" required><br><br>
						<label for="email">E-mail :</label>
						<input type="email" id="email" name="email" required><br><br>
						<label for="message">Message :</label><br>
						<textarea id="message" name="message" rows="12" cols="60" required></textarea><br><br>
						<button type="submit">Envoyer</button>
					</form>
				</section>

				<!-- <p>Mon  <a href="mailto:nico.vyp@hotmail.fr">e-mail</a> </p> -->
			</Hero>
		

		
		</main>

		<!-- <ContactCTA /> -->
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
