---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Parcours | Nicolas Vyplasil" description="Parcours Nicolas Vyplasil">
	<div class="stack gap-20">
		<main class="wrapper about">
			<!-- <Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			> -->
			<!-- <Hero
				title="Formation continue"
				tagline="Expériences professionnelles, diplômes et compétences."
			>
			</Hero> -->

			<section>
				<div class="content">
					<h4>Politique de confidentialité</h4>
					<br />
					 <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
					  l’économie numérique, il est précisé aux utilisateurs du site internet 
					  <a href="https://porfolioastro-ypiiz.kinsta.page/">https://porfolioastro-ypiiz.kinsta.page/</a>
					  que les données sur les différents intervenants dans le cadre de sa réalisation et de son suivi 
					  sont présentes dans les mentions légales.
					</p>
					<br />
					<p>Des données personnelles peuvent être collectées lorsque vous m'envoyez un email. (mon émail est indiqué dans 
						la partie Contact).	Ces données seront utilisées pour répondre à votre email.
					</p>
					


					<!-- <p><a href="https://vyplasildev.wordpress.com/">Lien de la création d'un site web par WordPress</a></p>
					<br /> -->
					<!-- <img
					width="1553"
					height="873"
					src="/assets/Site_wordpress.jpg"
					alt="Site wordpress"
				/> -->
				</div>
			</section>
		
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
